/* -- Color palette and font for site --*/
:root {
    --dark-bg: #1b0936;
    --Light-bg: #e97ac7;
    --Primary: #00396e;
    --secondary: #9eb8b9;
    --edge-margin: 60px;
    --global-margin: 5%;
}

* {
    font-family: 'Times New Roman', Times, serif,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* body */

body {
    min-height: 100%;
    line-height: 1;
}

    /* Header and nav */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .05%;
    Padding-top: .05%;
    background-color: var(--dark-bg);
}

header h1::before {
    background-image: url('../Photos/me\ .jpg');
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height:50px;
    position:absolute;
    left: 2.5%;
    content:"";
}

header #h1-me {
    position: relative;
    left: -.05%;
    background-color: var(--Primary)
}

header h1 {
    margin: 0 10px 0 calc(var(--edge-margin)*1.2);
    padding: 5px;
    color: var(--dark-bg);
    font-size: 45px;
    z-index: 1; /* position h1 above main div  */
}

nav {
    display: block;
    margin-right: var(--edge-margin);
    float: right;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

nav a {
    padding: 3px 9px;
    border-bottom: 4px solid var(--Primary);
    margin: 0 3px;
    color: var(--primary);
    text-decoration: none;
}

/* background image */

#topbg {
    width:100%;
    Height: 210px;
    background-image: url('../Photos/be\ orignal\ background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;   
}

#figh2 {
    padding: 10px;
    color: var(--dark-bg);
    font-size: 25px;
    display: flex;
    flex-direction: column-reverse;
}

/*Main section*/

main section {
    margin: 2.5% 5%;
    height: 110vh;
    display: flex;
    flex-flow: row wrap;
}

main section > * {
    width: 80%;
    margin-bottom: 2.5%;
    padding-left: 2.5%;
    border-left: 5px solid var(--secondary);
}

.rttext {
    text-align: right;
    width: 20%;
    border: none;
    padding-top: 1%;
    padding-right: 1.5%;
}

main section h2 {
    font-size: 45px;
    font-style:italic;
    border: none;
    color: var(--secondary);
}

/* Box content wilcard selector "my projects" */

*/ [class*="box"]{
    position: relative;
    margin: 5px;
    border: 5px solid va(--primary);
}

.container {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 2fr 2fr;
    gird-template-areas:
    "box1 box1"
    "box2 box3"
    "box4 box5";
}










